.nv {
    position        :fixed;
    float           : left;
    width           : 300px;
    height          : 100%;
    background-color: black;
    margin-right: 15px;
}

// ul {
//     text-align: left;
//     list-style-type: none;
//     margin         : 0;
//     padding        : 0;
//     width          : 100%;
//     font-size      : 14px;
//     margin-bottom  : 50px;
// }

// li a {
//     display        : block;
//     padding        : 20px 30px;
//     text-decoration: none;
//     color: #999;
// }

// /* Change the link color on hover */
// li a:hover {
//     background-color: gray;
//     color           : white;
// }

.p {
    text-align : center;
    font-size  : 35px;
    line-height: 20px;
    color      : white;
    margin-top: 50px;
    margin-bottom: 30px;
    div{
        margin-top: 20px;
    }
}

.copy {
    font-size: 12px;
    line-height: 18px;
    color: #999;
    margin-left: 30px;
    margin-top: 30px;
}


.copy a {
    text-align: center;
    text-decoration: none;
    color: #444;
}

.copy a:hover {
    text-decoration: underline;
}






ul{
    margin:0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #222;
    a{
        height: 50px;
        line-height: 50px;
        color: #999;
        background-position: -58px 0;
        background-repeat: no-repeat;
        padding-left: 50px;
        text-decoration: none;
        display: block;
     }
     a:hover {
        color: #fff;
        padding-left: 70px;           /*调整文字的位置 */
        background-position-x: -5px;
        background-position-y: 0px;     /* 调整图片的位置，鼠标放在上面的时候就恢复，默认是向后移动 */
      }
      
}

a.submit {
    margin-left: 0px;
    margin-bottom: 0px;
}