.nv {
    position        :fixed;
    float           : left;
    width           : 300px;
    height          : 100%;
    background-color: black;
    margin-right: 15px;
}

ul {
    text-align: left;
    list-style-type: none;
    margin         : 0;
    padding        : 0;
    width          : 100%;
    width          : 100%;
    font-size      : 14px;
    margin-bottom  : 50px;
}

li a {
    display        : block;
    padding        : 20px 30px;
    text-decoration: none;
    color: #999;
}

/* Change the link color on hover */
li a:hover {
    background-color: gray;
    color           : white;
}

.p {
    text-align : center;
    font-size  : 35px;
    line-height: 20px;
    color      : white;
    margin-top: 50px;
    margin-bottom: 30px;
    div{
        margin-top: 20px;
    }
}

.copy {
    font-size: 12px;
    color    : white;
    margin-left: 50px;
}

.copy a {
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #999;
}